                                    /*Start Global Styles*/
*
{
    color:#F9D4D4;
	font-size:20px;
    font-family:"Tahoma";
}
                                    /*End Global Styles*/

                                    /*Srart Body Styles*/
body
{
    -webkit-font-smoothing:antialiased;
    text-decoration:none;
    background-position: center center;
    background-attachment: fixed;
}
                                    /*End Body Styles*/

                                    /*Start Main Menu Box Style*/
.Welcome-Menu
{
    text-align:center;
    font-size:20px;
    position:fixed;
    top:60%;
    left:50%;
    width:30em;
    margin-top:-9em;
    margin-left:-15em;
}
                                    /*End Main Menu Box Style*/

                                    /*Start Language Buttons Styles*/
.English, .Arabic
{
    font-weight:bold;
    margin:20px;
    background-color:#E91E63;
    padding:15px 32px;
    text-align:center;
    display:inline-block;
    font-size:25px;
    -webkit-appearance:button;
    text-decoration:none;
    width:100px;
}
                                    /*End Language Buttons Styles*/

                                    /*Start H1 & H2 Styles*/
h1.Line-1
{
    font-size: 35px;
}

h2.Line-2
{
    font-size: 30px;
}
                                    /*End H1 & H2 Styles*/

                                    /*Start Social Bar Style*/
.Social-Bar
{
    display:block;
    font-weight:bold;
    text-align:left;
    height:80px;
}
                                    /*End Social Bar Style*/

                                    /*Start li Style*/
.Social-Icons
{
	display:inline;
    text-align:left;
    text-align:-webkit-match-parent;
}
                                    /*End li Style*/

                                    /*Start Social Icons Style*/
                                    /*Start Icons Style*/
.icon
{
	width:60px;
	height:60px;
	margin:20px;
	float:left;
	overflow:hidden;
	line-height:65px;
	text-align:center;
	color:white;
	font-family:'FontAwesome';
	font-size:35px;
    padding-right:7px;
}

.eclipse
{
	width:63px;
	height:63px;
	margin:8.5px;
	border-radius:50px;
}
                                    /*End Icons Style*/

                                    /*Start Home Style*/
.home
{
	text-shadow:40px 40px 0 #1a336f, 39px 39px 0 #1a336f, 38px 38px 0 #1a336f, 37px 37px 0 #1a336f, 36px 36px 0 #1a336f, 35px 35px 0 #1a336f, 34px 34px 0 #1a336f, 33px 33px 0 #1a336f, 32px 32px 0 #1a336f, 31px 31px 0 #1a336f, 30px 30px 0 #1a336f, 29px 29px 0 #1a336f, 28px 28px 0 #1a336f, 27px 27px 0 #1a336f, 26px 26px 0 #1a336f, 25px 25px 0 #1a336f, 24px 24px 0 #1a336f, 23px 23px 0 #1a336f, 22px 22px 0 #1a336f, 21px 21px 0 #1a336f, 20px 20px 0 #1a336f, 19px 19px 0 #1a336f, 18px 18px 0 #1a336f, 17px 17px 0 #1a336f, 16px 16px 0 #1a336f, 15px 15px 0 #1a336f, 14px 14px 0 #1a336f, 13px 13px 0 #1a336f, 12px 12px 0 #1a336f, 11px 11px 0 #1a336f, 10px 10px 0 #1a336f, 9px 9px 0 #1a336f, 8px 8px 0 #1a336f, 7px 7px 0 #1a336f, 6px 6px 0 #1a336f, 5px 5px 0 #1a336f, 4px 4px 0 #1a336f, 3px 3px 0 #1a336f, 2px 2px 0 #1a336f, 1px 1px 0 #1a336f;
	background-color:#2850ad;
}
.home:hover
{
    background-color:#10347C;
}
                                    /*End Home Style*/

                                    /*Start FaceBook Style*/
.facebook
{
	text-shadow:40px 40px 0 #1a336f, 39px 39px 0 #1a336f, 38px 38px 0 #1a336f, 37px 37px 0 #1a336f, 36px 36px 0 #1a336f, 35px 35px 0 #1a336f, 34px 34px 0 #1a336f, 33px 33px 0 #1a336f, 32px 32px 0 #1a336f, 31px 31px 0 #1a336f, 30px 30px 0 #1a336f, 29px 29px 0 #1a336f, 28px 28px 0 #1a336f, 27px 27px 0 #1a336f, 26px 26px 0 #1a336f, 25px 25px 0 #1a336f, 24px 24px 0 #1a336f, 23px 23px 0 #1a336f, 22px 22px 0 #1a336f, 21px 21px 0 #1a336f, 20px 20px 0 #1a336f, 19px 19px 0 #1a336f, 18px 18px 0 #1a336f, 17px 17px 0 #1a336f, 16px 16px 0 #1a336f, 15px 15px 0 #1a336f, 14px 14px 0 #1a336f, 13px 13px 0 #1a336f, 12px 12px 0 #1a336f, 11px 11px 0 #1a336f, 10px 10px 0 #1a336f, 9px 9px 0 #1a336f, 8px 8px 0 #1a336f, 7px 7px 0 #1a336f, 6px 6px 0 #1a336f, 5px 5px 0 #1a336f, 4px 4px 0 #1a336f, 3px 3px 0 #1a336f, 2px 2px 0 #1a336f, 1px 1px 0 #1a336f;
	background-color:#2850ad;
}
.facebook:hover
{
    background-color:#10347C;
}
                                    /*End FaceBook Style*/

                                    /*Start Twitter Style*/
.twitter
{
    text-shadow:40px 40px 0 #28a6e6, 39px 39px 0 #28a6e6, 38px 38px 0 #28a6e6, 37px 37px 0 #28a6e6, 36px 36px 0 #28a6e6, 35px 35px 0 #28a6e6, 34px 34px 0 #28a6e6, 33px 33px 0 #28a6e6, 32px 32px 0 #28a6e6, 31px 31px 0 #28a6e6, 30px 30px 0 #28a6e6, 29px 29px 0 #28a6e6, 28px 28px 0 #28a6e6, 27px 27px 0 #28a6e6, 26px 26px 0 #28a6e6, 25px 25px 0 #28a6e6, 24px 24px 0 #28a6e6, 23px 23px 0 #28a6e6, 22px 22px 0 #28a6e6, 21px 21px 0 #28a6e6, 20px 20px 0 #28a6e6, 19px 19px 0 #28a6e6, 18px 18px 0 #28a6e6, 17px 17px 0 #28a6e6, 16px 16px 0 #28a6e6, 15px 15px 0 #28a6e6, 14px 14px 0 #28a6e6, 13px 13px 0 #28a6e6, 12px 12px 0 #28a6e6, 11px 11px 0 #28a6e6, 10px 10px 0 #28a6e6, 9px 9px 0 #28a6e6, 8px 8px 0 #28a6e6, 7px 7px 0 #28a6e6, 6px 6px 0 #28a6e6, 5px 5px 0 #28a6e6, 4px 4px 0 #28a6e6, 3px 3px 0 #28a6e6, 2px 2px 0 #28a6e6, 1px 1px 0 #28a6e6;
    background-color:#29c5f6;
}

.twitter:hover
{
    background-color:#166A89;
}
                                    /*End Twitter Style*/

                                    /*Start GitHub Style*/
.github
{
    text-shadow:40px 40px 0 #322f30, 39px 39px 0 #322f30, 38px 38px 0 #322f30, 37px 37px 0 #322f30, 36px 36px 0 #322f30, 35px 35px 0 #322f30, 34px 34px 0 #322f30, 33px 33px 0 #322f30, 32px 32px 0 #322f30, 31px 31px 0 #322f30, 30px 30px 0 #322f30, 29px 29px 0 #322f30, 28px 28px 0 #322f30, 27px 27px 0 #322f30, 26px 26px 0 #322f30, 25px 25px 0 #322f30, 24px 24px 0 #322f30, 23px 23px 0 #322f30, 22px 22px 0 #322f30, 21px 21px 0 #322f30, 20px 20px 0 #322f30, 19px 19px 0 #322f30, 18px 18px 0 #322f30, 17px 17px 0 #322f30, 16px 16px 0 #322f30, 15px 15px 0 #322f30, 14px 14px 0 #322f30, 13px 13px 0 #322f30, 12px 12px 0 #322f30, 11px 11px 0 #322f30, 10px 10px 0 #322f30, 9px 9px 0 #322f30, 8px 8px 0 #322f30, 7px 7px 0 #322f30, 6px 6px 0 #322f30, 5px 5px 0 #322f30, 4px 4px 0 #322f30, 3px 3px 0 #322f30, 2px 2px 0 #322f30, 1px 1px 0 #322f30;
    background-color:#322f30;
}

.github:hover
{
    background-color:#000000;
}
                                    /*End GitHub Style*/

                                    /*Start AFH Style*/
.android
{
    text-shadow:40px 40px 0 #79c559, 39px 39px 0 #79c559, 38px 38px 0 #79c559, 37px 37px 0 #79c559, 36px 36px 0 #79c559, 35px 35px 0 #79c559, 34px 34px 0 #79c559, 33px 33px 0 #79c559, 32px 32px 0 #79c559, 31px 31px 0 #79c559, 30px 30px 0 #79c559, 29px 29px 0 #79c559, 28px 28px 0 #79c559, 27px 27px 0 #79c559, 26px 26px 0 #79c559, 25px 25px 0 #79c559, 24px 24px 0 #79c559, 23px 23px 0 #79c559, 22px 22px 0 #79c559, 21px 21px 0 #79c559, 20px 20px 0 #79c559, 19px 19px 0 #79c559, 18px 18px 0 #79c559, 17px 17px 0 #79c559, 16px 16px 0 #79c559, 15px 15px 0 #79c559, 14px 14px 0 #79c559, 13px 13px 0 #79c559, 12px 12px 0 #79c559, 11px 11px 0 #79c559, 10px 10px 0 #79c559, 9px 9px 0 #79c559, 8px 8px 0 #79c559, 7px 7px 0 #79c559, 6px 6px 0 #79c559, 5px 5px 0 #79c559, 4px 4px 0 #79c559, 3px 3px 0 #79c559, 2px 2px 0 #79c559, 1px 1px 0 #79c559;
    background-color:#3cfd00;
}

.android:hover
{
    background-color:#569117;
}
                                    /*End AFH Style*/

                                    /*Start Ask.fm Style*/
.question
{
    text-shadow:40px 40px 0 #FF0000, 39px 39px 0 #FF0000, 38px 38px 0 #FF0000, 37px 37px 0 #FF0000, 36px 36px 0 #FF0000, 35px 35px 0 #FF0000, 34px 34px 0 #FF0000, 33px 33px 0 #FF0000, 32px 32px 0 #FF0000, 31px 31px 0 #FF0000, 30px 30px 0 #FF0000, 29px 29px 0 #FF0000, 28px 28px 0 #FF0000, 27px 27px 0 #FF0000, 26px 26px 0 #FF0000, 25px 25px 0 #FF0000, 24px 24px 0 #FF0000, 23px 23px 0 #FF0000, 22px 22px 0 #FF0000, 21px 21px 0 #FF0000, 20px 20px 0 #FF0000, 19px 19px 0 #FF0000, 18px 18px 0 #FF0000, 17px 17px 0 #FF0000, 16px 16px 0 #FF0000, 15px 15px 0 #FF0000, 14px 14px 0 #FF0000, 13px 13px 0 #FF0000, 12px 12px 0 #FF0000, 11px 11px 0 #FF0000, 10px 10px 0 #FF0000, 9px 9px 0 #FF0000, 8px 8px 0 #FF0000, 7px 7px 0 #FF0000, 6px 6px 0 #FF0000, 5px 5px 0 #FF0000, 4px 4px 0 #FF0000, 3px 3px 0 #FF0000, 2px 2px 0 #FF0000, 1px 1px 0 #FF0000;
    background-color:#FF0000;
}

.question:hover
{
    background-color:#931010;
}
                                    /*End Ask.fm Style*/

                                    /*Start RSS Style*/
.rss
{
    text-shadow:40px 40px 0 #e05b1b, 39px 39px 0 #e05b1b, 38px 38px 0 #e05b1b, 37px 37px 0 #e05b1b, 36px 36px 0 #e05b1b, 35px 35px 0 #e05b1b, 34px 34px 0 #e05b1b, 33px 33px 0 #e05b1b, 32px 32px 0 #e05b1b, 31px 31px 0 #e05b1b, 30px 30px 0 #e05b1b, 29px 29px 0 #e05b1b, 28px 28px 0 #e05b1b, 27px 27px 0 #e05b1b, 26px 26px 0 #e05b1b, 25px 25px 0 #e05b1b, 24px 24px 0 #e05b1b, 23px 23px 0 #e05b1b, 22px 22px 0 #e05b1b, 21px 21px 0 #e05b1b, 20px 20px 0 #e05b1b, 19px 19px 0 #e05b1b, 18px 18px 0 #e05b1b, 17px 17px 0 #e05b1b, 16px 16px 0 #e05b1b, 15px 15px 0 #e05b1b, 14px 14px 0 #e05b1b, 13px 13px 0 #e05b1b, 12px 12px 0 #e05b1b, 11px 11px 0 #e05b1b, 10px 10px 0 #e05b1b, 9px 9px 0 #e05b1b, 8px 8px 0 #e05b1b, 7px 7px 0 #e05b1b, 6px 6px 0 #e05b1b, 5px 5px 0 #e05b1b, 4px 4px 0 #e05b1b, 3px 3px 0 #e05b1b, 2px 2px 0 #e05b1b, 1px 1px 0 #e05b1b;
    background-color:#ff9845;
}

.rss:hover
{
    background-color:#9B5017;
}
                                    /*End RSS Style*/

                                    /*Start LinkedIN Style*/
.linkedin
{
    text-shadow:40px 40px 0 #1b74c7, 39px 39px 0 #1b74c7, 38px 38px 0 #1b74c7, 37px 37px 0 #1b74c7, 36px 36px 0 #1b74c7, 35px 35px 0 #1b74c7, 34px 34px 0 #1b74c7, 33px 33px 0 #1b74c7, 32px 32px 0 #1b74c7, 31px 31px 0 #1b74c7, 30px 30px 0 #1b74c7, 29px 29px 0 #1b74c7, 28px 28px 0 #1b74c7, 27px 27px 0 #1b74c7, 26px 26px 0 #1b74c7, 25px 25px 0 #1b74c7, 24px 24px 0 #1b74c7, 23px 23px 0 #1b74c7, 22px 22px 0 #1b74c7, 21px 21px 0 #1b74c7, 20px 20px 0 #1b74c7, 19px 19px 0 #1b74c7, 18px 18px 0 #1b74c7, 17px 17px 0 #1b74c7, 16px 16px 0 #1b74c7, 15px 15px 0 #1b74c7, 14px 14px 0 #1b74c7, 13px 13px 0 #1b74c7, 12px 12px 0 #1b74c7, 11px 11px 0 #1b74c7, 10px 10px 0 #1b74c7, 9px 9px 0 #1b74c7, 8px 8px 0 #1b74c7, 7px 7px 0 #1b74c7, 6px 6px 0 #1b74c7, 5px 5px 0 #1b74c7, 4px 4px 0 #1b74c7, 3px 3px 0 #1b74c7, 2px 2px 0 #1b74c7, 1px 1px 0 #1b74c7;
    background-color:#3a9bdc;
}

.linkedin:hover
{
    background-color:#196496;
}

                                    /*Start YouTube Style*/
.youtube{
    text-shadow:40px 40px 0 #ca261f, 39px 39px 0 #ca261f, 38px 38px 0 #ca261f, 37px 37px 0 #ca261f, 36px 36px 0 #ca261f, 35px 35px 0 #ca261f, 34px 34px 0 #ca261f, 33px 33px 0 #ca261f, 32px 32px 0 #ca261f, 31px 31px 0 #ca261f, 30px 30px 0 #ca261f, 29px 29px 0 #ca261f, 28px 28px 0 #ca261f, 27px 27px 0 #ca261f, 26px 26px 0 #ca261f, 25px 25px 0 #ca261f, 24px 24px 0 #ca261f, 23px 23px 0 #ca261f, 22px 22px 0 #ca261f, 21px 21px 0 #ca261f, 20px 20px 0 #ca261f, 19px 19px 0 #ca261f, 18px 18px 0 #ca261f, 17px 17px 0 #ca261f, 16px 16px 0 #ca261f, 15px 15px 0 #ca261f, 14px 14px 0 #ca261f, 13px 13px 0 #ca261f, 12px 12px 0 #ca261f, 11px 11px 0 #ca261f, 10px 10px 0 #ca261f, 9px 9px 0 #ca261f, 8px 8px 0 #ca261f, 7px 7px 0 #ca261f, 6px 6px 0 #ca261f, 5px 5px 0 #ca261f, 4px 4px 0 #ca261f, 3px 3px 0 #ca261f, 2px 2px 0 #ca261f, 1px 1px 0 #ca261f;
    background-color:#FF0000;
}

.youtube:hover
{
    background-color:#AD1F18;
}
                                    /*End YouTube Style*/

                                    /*Start Google+ Style*/
.google-plus
{
    text-shadow:40px 40px 0 #cc2f1a, 39px 39px 0 #cc2f1a, 38px 38px 0 #cc2f1a, 37px 37px 0 #cc2f1a, 36px 36px 0 #cc2f1a, 35px 35px 0 #cc2f1a, 34px 34px 0 #cc2f1a, 33px 33px 0 #cc2f1a, 32px 32px 0 #cc2f1a, 31px 31px 0 #cc2f1a, 30px 30px 0 #cc2f1a, 29px 29px 0 #cc2f1a, 28px 28px 0 #cc2f1a, 27px 27px 0 #cc2f1a, 26px 26px 0 #cc2f1a, 25px 25px 0 #cc2f1a, 24px 24px 0 #cc2f1a, 23px 23px 0 #cc2f1a, 22px 22px 0 #cc2f1a, 21px 21px 0 #cc2f1a, 20px 20px 0 #cc2f1a, 19px 19px 0 #cc2f1a, 18px 18px 0 #cc2f1a, 17px 17px 0 #cc2f1a, 16px 16px 0 #cc2f1a, 15px 15px 0 #cc2f1a, 14px 14px 0 #cc2f1a, 13px 13px 0 #cc2f1a, 12px 12px 0 #cc2f1a, 11px 11px 0 #cc2f1a, 10px 10px 0 #cc2f1a, 9px 9px 0 #cc2f1a, 8px 8px 0 #cc2f1a, 7px 7px 0 #cc2f1a, 6px 6px 0 #cc2f1a, 5px 5px 0 #cc2f1a, 4px 4px 0 #cc2f1a, 3px 3px 0 #cc2f1a, 2px 2px 0 #cc2f1a, 1px 1px 0 #cc2f1a;
    background-color:#e75c3c;
}

.google-plus:hover
{
    background-color:#BF3D20;
}
                                    /*End Google+ Style*/

                                    /*Start Add My .fa Style*/
.fa
{
    font-size:35px
}
                                    /*End Add My .fa Style*/
                                    /*End Social Icons Style*/

									/*Start p Style*/
p
{
   margin-left:25px;
   margin:0px;
   color:lightblue;
}
									/*End p Style*/

									/*Start fieldset Style*/
fieldset
{
	border:none;
	
}
									/*End fieldset Style*/

									/*Start legend Style*/
legend
{
    font-size:40px;
    text-decoration:underline;
    font-weight:bold;
    color:#FFF;
}
									/*End legend Style*/

									/*Start td & li Style*/
td, li
{
    color:lightblue;
}
									/*End td & li Style*/

									/*Start Personal-Q Style*/
.Personal-Q
{
    font-size:25px;
    font-weight:bold;
}
									/*End Personal-Q Style*/

									/*Start Personal-A-Name Style*/
.Personal-A-Name
{
    font-size:larger;
    font-style:italic;
    font-family:Monotype Corsiva;
    padding-right: 40px;
}
									/*End Personal-A-Name Style*/

									/*Start Personal-A Style*/
.Personal-A
{
    font-size:larger;
    font-style:italic;
    padding-right: 40px;
}
									/*End Personal-A Style*/

									/*Start Education Style*/
.Education
{
    font-weight:bold;
}
									/*End Education Style*/

									/*Start Experience & thead Style*/
.Experience thead
{
    text-align:center;
    font-size:25px;
    font-weight:bold;
}
									/*End Experience & thead Style*/

									/*Start Experience-Cells & td Style*/
.Experience-Cells td
{
    border-bottom:1px solid #FFF;
    text-align:center;
    margin-left:2px;
    padding-left:20px
}
									/*End Experience-Cells & td Style*/

									/*Start Trainings-W-C & td Style*/
.Trainings-W-C td
{
    margin-left:2px;
    padding-left:100px
}
									/*End Trainings-W-C & td Style*/

									/*Start Career-A & td Style*/
.Career-A td
{
    margin-left:2px;
    padding-left:100px;
}
									/*End Career-A & td Style*/

